$primary-color: #fff159;   
$border-color: #c1b74d;
$border-radius: 4px;
$max-width:1100px;


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.app{
  min-height: 100%;
}


.main_container {
  .header {
  grid-area: header;
  }
  .products_content {
    grid-area: products_content;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .footer {
    grid-area: footer;
    }
}

.main_container {
  display: grid;
  gap: 10px;
  grid-template-areas: 
    "header header"
    "sidebar products_content"
    "footer footer";
}

header {
  background-color: $primary-color;

  nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $max-width;
    margin: 0 auto;

    img {
      height: 60px;
      padding: 10px 18px;
    }

    .search-inputs {
      margin-left: 10px;
    }

    input, button {
      background-color: white;
      border: 0px;
      padding: 5px 15px;
      border-bottom: 1px solid rgba(black, 0.1);
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    input {
      width: 400px;
    }

    button {
      border-left: 1px solid rgba(black, 0.1);
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }
}

.sidebar {
  margin-left: 100px;
  li{
    list-style: none;
  }
}

.products_content {
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
  background-color:white;
  align-content: space-between;
  padding-left: 10%;
  margin-top: 20px;
} 

.grid_container {
  height: 500px;
  max-width: 30%;

  img {
    height: 40%;
  }
}


footer {
  display: inline;
  margin: auto;
}
/*

.products_content {
  
  display: flex;
  align-items: center;
  justify-content: center;
}



.products_container {
  background-color: red;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
    .grid_container {
      width: 300px;
      display: flex;
      flex-direction: column;
    }
}
*/


